---
---

@import "{{ site.theme }}";

#titlebar > a {
    color: #007bff;
    text-shadow: none;
}

#titlebar > h1 {
    color: #0A2463;
    text-shadow: none;
    margin: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    letter-spacing: default;
    margin: default;    
}