---
---

@import "{{ site.theme }}";

#titlebar > a {
    color: #007bff;
    text-shadow: none;
}

#titlebar > h1 {
    color: #0A2463;
    text-shadow: none;
    font-family:  Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-weight: 500;
    letter-spacing: normal;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: .5rem;
    margin-top: 0;
}

.console > h3 {
    font-weight: 500;
    color: #0A2463;
    letter-spacing: normal;
    text-shadow: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: .5rem;
    font-family:  Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

div.console-inside h1, div.console-inside h2, div.console-inside h3, div.console-inside h4, div.console-inside h5, div.console-inside h6{
    color: white;
}

div.console-inside ul li {
    list-style-image: none;
}